@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;

}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
}
nav .wrapper1{
  position: relative;
  max-width: 1350px;
  padding: 0px 30px;
  height: 90px;
  line-height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}
nav .wrapper1 .nav-items{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.wrapper1 .logo img {
    width: 110px;
    height: 80px;
}
.wrapper1 .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color:#F27144;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background:none;
  color:#3AB9C0;
}

  .wrapper{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background:white;
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .wrapper{
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #F27144;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  .close {
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: .6s;
      background: #F27144;
  }
  
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #F27144;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #F27144;
  }
  .wrapper ul{
    position: relative;
    top: 25%;
    left: 50%;
    height: 90%;
    list-style: none;
  }
  .wrapper ul li{
    height: 10%;
    
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:#3AB9C0;    position: absolute;

  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background:none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #F27144;
  }
  input[type="checkbox"]{
    display: none;
  }

  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
      transform: none;
      transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
     transition-delay: .6s;
    transform: translateX(-100px);
  }
  
  
@media screen and (max-width: 970px) {

  .wrapper1 .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }

  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
  }

      
}

   .search {
     width: 100%;
     position: relative;
     display: flex;
   }
   
   .searchTerm {
     width: 100%;
     border: none;
     padding: 5px;
     height: 30px;
     border-radius: 5px 0 0 5px;
     outline: none;
     color: #9DBFAF;
   }
   
   .searchTerm:focus{
     color: #00B4CC;
   }
   
   .searchButton {
     width: 40px;
     height: 36px;
    border: none;     
    background: #F27144;
     text-align: center;
     color: #fff;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     font-size: 20px;
     border-radius: 20px;
   }
   
   /*Resize the wrap to see the search bar change!*/
   .wrap{
     width: 30%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
   .container img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
   

}
h1{
    color: #F27144;
    text-align: center;
    margin-top:40px;
}
.container {
  position: relative;
  margin-top:30px;
  margin-left:60px;
  max-width: 90%;
  width: 100%;
  background: #fff;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.form-container{
    width:90%;
    margin-top:30px;
    margin-left:20px;
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
}
h2{
    font-size:30px;
    padding-top:10px;
    letter-spacing: 1;
    text-align: center;

}

  
.container .form {
  margin-top: 10px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #3AB9C0;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button {
  height: 55px;
  width:100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background:#F27144;
  border-radius: 50px;
}
.form button:hover {
  background:#3AB9C0;
}
.input-box a{
    text-decoration: none;
    color:#3AB9C0
}
.input-box span{
    text-decoration: none;
    color:#F27144
}
.input-box .error span{
  color:red;
}
footer{
  display:flex;
  padding-top:60px;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  
}
.pageFooter{
  color:#878f88;
}

footer .col{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  
}

footer .Logo{
  margin-bottom:30px;

}

footer h4{
  font-size:14px;
  padding-bottom:20px;
}

footer p{
  font-size:13px;
  margin:0 0 8px 0;
}

footer a{
  font-size:13px;
  text-decoration: none;
  color:#878f88;
  margin-bottom: 10px;
}

footer .follow{
  margin-top:20px;
 
}

footer .follow i{
padding-right:4px;
cursor:pointer;
 
}

footer .install .row img{
border:1px solid black;
border-radius:6px;
}

footer .install img{
 margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover{
  color:#F27144;

}

.copyright{
width:100%;
text-align: center;
color:#878f88;
}