* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #E8E0D7;
}

.container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container .form {
  margin-top: 10px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #3AB9C0;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button {
  height: 55px;
  width:100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background:#F27144;
  border-radius: 50px;
}
.form button:hover {
  background:#3AB9C0;
}

#title{
    text-align: center;
    color:#F27144;
  font-family: "Poppins", sans-serif;

}
.column {
  float: left;
  width: 50%;
  margin-top: 5px;
}

/*hide arrows of number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}