@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E8E0D7;
}

.sidebar {
  margin-right:100px;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #3AB9C0;
  padding: 16px;
  text-decoration: none;
  margin-left:15px;
}

.sidebar a:hover{
  color: #F27144;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;;
  width: 80%;
  position: relative;
}


div.content {
  padding: 1px 16px;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-left: 25%;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 10px 70px 20px 70px;
  margin:150px 100px 100px 100px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  min-height: 60vh;
}


.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #3AB9C0;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button {
  height: 55px;
  width:100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50px;
}

#edit{
  background-color: #F27144;
}
#edit:hover{
  background-color: #3AB9C0;
}
#delete{
  background-color: rgb(246, 3, 3);
}
#delete:hover{
  background-color: rgb(195, 6, 6);
}
.form button:hover {
  background:#3AB9C0;
}
button a{
  color:white;
  text-decoration: none;
}
#title{
    text-align: center;
    color:#F27144;
}
.column {
  float: left;
  width: 50%;
  margin-top: 5px;
}


/*responsive*/
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
    margin-left: 0;
    margin-right:130px;
  }
  .logo{
    width:40%;
    margin-bottom: 0;
  }
}

/* On screens that are less than 500px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .component{
    display: grid;
    grid-template-columns: auto, auto;
  }
  .rows{
    align-items: center;
  }
  .logo{
    width:40%;
    margin-bottom: 0;
  }
}

/*text*/
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  #title label{
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #title label{
    font-size: 10px;
  }
}
